<div class="animated fadeIn">
  <h1 class="display-3 text-center">Clientes</h1>
  <div class="line__bottom-container mb-3">
    <span class="line__bottom"></span>
  </div>
  <div class="table">
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Apellido(s)</th>
      <th>Referencia</th>
      <th>Whatsapp</th>
      <th>Facebook</th>
      <th>Saldo</th>
      <th></th>
    </tr>

    <tbody>
      <tr *ngFor="let customer of customers">
        <td>{{ customer.customer_id }}</td>  
        <td>{{ customer.name }}</td>  
        <td>{{ customer.lastname }}</td>  
        <td>{{ customer.reference }}</td>  
        <td>{{ customer.whatsapp }}</td>  
        <td>{{ customer.facebook }}</td>  
        <td>{{ customer.balance }}</td>  
        <td>
          <a [routerLink]="['/customer-show', customer.customer_id]" class="btn  btn-outline-primary">Consultar</a>
        </td>  
        <td>
          <a [routerLink]="['/customer-edit', customer.customer_id]" class="btn btn-outline-warning">Editar</a>
        </td>  
      </tr>
    </tbody>
  </div>
</div>


