<header class="navbar app-header">
  <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>&#9776;</button>
  <a class="navbar-brand" href="#"></a>
  <ul class="nav navbar-nav mr-auto d-md-down-none">
    <li class="nav-item row">
      <a class="nav-link navbar-toggler" href="#" appSidebarToggler> &#9776; </a>
    </li>
  </ul>
</header>

<div class="app-body">
  <div class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="icon-speedometer"></i> Panel de control </a>
        </li>
        <li class="nav-item nav-dropdown" appNavDropdown>
          <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-user"></i> Productos</a>
          <ul class="nav-dropdown-items">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/products/create']" style="padding-left: 2em;"><i class="icon-user"></i>Registrar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/products/all']" style="padding-left: 2em;"><i class="icon-user"></i>Consultar</a>
            </li>
          </ul>
        </li>
        <li class="nav-item nav-dropdown" appNavDropdown>
          <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-user"></i> Proveedores</a>
          <ul class="nav-dropdown-items">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/providers/all']" style="padding-left: 2em;"><i class="icon-user"></i> Consultar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/providers/create']" style="padding-left: 2em;"><i class="icon-user"></i>Registrar</a>
            </li>
          </ul>
        </li>
        <li class="nav-item nav-dropdown" appNavDropdown>
          <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-user"></i> Clientes</a>
          <ul class="nav-dropdown-items">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/customers/all']" style="padding-left: 2em;"><i class="icon-user"></i> Consultar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/customers/create']" style="padding-left: 2em;"><i class="icon-user"></i>Registrar</a>
            </li>
          </ul>
        </li>
        <li class="nav-item nav-dropdown" appNavDropdown>
          <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-user"></i> Empleados</a>
          <ul class="nav-dropdown-items">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/employees/all']" style="padding-left: 2em;"><i class="icon-user"></i> Consultar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/employees/create']" style="padding-left: 2em;"><i class="icon-user"></i>Registrar</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>

  <!-- Main content -->
  <main class="main">

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
      <app-breadcrumbs></app-breadcrumbs>
    </ol>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.conainer-fluid -->
  </main>
</div>


