<div class="animated fadeIn">
    <div class="animated fadeIn" *ngIf="!customer">
        <div class="row">
          <div class="col-sm-2 col-md-2">
          </div>
          <div class="col-sm-7 col-md-7">
            <div class="card">
              <div class="card-header">
                <strong>Información</strong>
              </div>
              <div class="card-block row">
                <div class="col-md-8">
                  <p>El registro que estás buscando no se ha podido encontrar :(</p>
                </div>
                <div class="col-md-4">
                  <button [routerLink]="['/customers/all']" class="btn btn-sm btn-primary pull-right">Regresar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

  <div class="row" *ngIf="customer">
      <div class="col-md-2"></div>
      <div class="col-md-8 col-xs-12">
          <form #formCustomer="ngForm" (ngSubmit)="onSubmitCustomerEdit(formCustomer)">                    
              <div class="card">
                  <div class="card-header text-center">
                      <h2>Editar cliente</h2>
                  </div>
                  <div class="card-block">

                          <div class="form-group row has-danger">
                              <label class="col-md-3 form-control-label">Nombre</label>
                              <div class="col-md-9">
                                  <input [(ngModel)]="customer.name" #name="ngModel" type="text" name="name" class="form-control" placeholder="Nombre" required>
                                  <div *ngIf="name.invalid && (name.dirty || name.touched)" class="" style="color: #990000; padding: 0; margin: 0;">
                                      <div *ngIf="name.errors.required"> Debes ingresar un <strong>nombre</strong> </div>
                                  </div>
                              </div>
                          </div>

                          <div class="form-group row">
                              <label class="col-md-3 form-control-label">Apellido(s)</label>
                              <div class="col-md-9">
                                  <input type="text" [(ngModel)]="customer.lastname" #lastname="ngModel" name="lastname" class="form-control" placeholder="Ingrese apellidos..." required>
                                  <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="" style="color: #990000; padding: 0; margin: 0;">
                                      <div *ngIf="lastname.errors.required"> Debes ingresar mínimo un <strong>apellido</strong> </div>
                                  </div>
                              </div>
                          </div>

                          <div class="form-group row">
                              <label class="col-md-3 form-control-label">Referencia</label>
                              <div class="col-md-9">
                                  <input type="text" [(ngModel)]="customer.reference" #reference="ngModel" name="reference" class="form-control" placeholder="Referencia del cliente..." required>
                                  <div *ngIf="reference.invalid && (reference.dirty || reference.touched)" class="" style="color: #990000; padding: 0; margin: 0;">
                                      <div *ngIf="reference.errors.required"> Debes ingresar una <strong>referencia</strong> </div>
                                  </div>
                              </div>
                          </div>

                          <div class="form-group row">
                              <label class="col-md-3 form-control-label">Whatsapp</label>
                              <div class="col-md-9">
                                  <input type="text" [(ngModel)]="customer.whatsapp" #whatsapp="ngModel" name="whatsapp" class="form-control" placeholder="3410000000">
                              </div>
                          </div>

                          <div class="form-group row">
                              <label class="col-md-3 form-control-label">Facebook</label>
                              <div class="col-md-9">
                                  <input type="text" [(ngModel)]="customer.facebook" #facebook="ngModel" name="facebook" class="form-control" placeholder="Ingrese facebook del cliente">
                              </div>
                          </div>

                          <div class="form-group row">
                              <label class="col-md-3 form-control-label">Saldo</label>
                              <div class="col-md-9">
                                  <input type="number" [(ngModel)]="customer.balance" #balance="ngModel" name="balance" class="form-control" value="0.00" min="0" required>
                              </div>
                          </div>

                  </div>
                  <div class="card-footer">
                      <div class="col-md-6 pull-right">
                          <button [disabled]="formCustomer.invalid" type="submit" class="btn btn-block btn-primary"><i class="fa fa-check"></i> Editar</button>
                      </div>
                  </div>
              </div>
          </form>    
      </div>
  </div>
</div>
