<div class="animated fadeIn" *ngIf="payments">
  <h1 class="display-4 text-center">Consulta de abonos</h1>
  <div class="line__bottom-container mb-3">
    <span class="line__bottom"></span>
  </div>

  <div class="row">
    <div class="col-sm-1 col-md-1">
    </div>  

    <div class="col-sm-5">
        <div class="card">
            <div class="card-block">
                <form class="form-horizontal ">
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button [routerLink]="['../show/',search]" type="button" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
                                </span>
                                <input [(ngModel)]="search" type="text"  name="sale_id" class="form-control" placeholder="ID del abono">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

  <div class="row">
    <div class="col-lg-1">
    </div>
    <div class="col-lg-10">
      <div class="card">
        <div class="card-block table-responsive">
          <table class="table table-striped table-condensed">
            <thead>
              <tr>
                <th>ID Abono</th>
                <th>ID Venta</th>
                <th>ID Empleado</th>
                <th>Nombre del empleado</th>
                <th>Fecha de abono</th>
                <th>Cantidad del abono</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let payment of payments">
                <td>{{ payment.payment_id }}</td>
                <td>{{ payment.sale_id }}</td>
                <td>{{ payment.employee_id }}</td>
                <td>{{ payment.employee_fullname }}</td>
                <td>{{ payment.payment_date | date}}</td>
                <td>{{ payment.payment_amount }}</td>
                <td>
                  <a [routerLink]="['../show/', payment.payment_id]" class="btn  btn-outline-primary pull-right">Ver más</a>
                </td>
              </tr>
            </tbody>
          </table>
          <button type="button" class="btn btn-success pull-right" (click)="downloadCSV()">Descargar CSV</button>
          
        </div>
      </div>
    </div>
  </div>

</div>