.custom-p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  font-size: 20px;
}

.custom-img {
  display:block; 
  margin:auto;
}

hr {
  text-align: center;
  width: 100%;
  border: solid rgb(44, 44, 44) 1px;
}

.light-hr {
  text-align: center;
  width: 60%;
  border: solid rgb(175, 172, 172) 1px;
}