<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Descargar respaldo de la base de datos.
        </div>
        <div class="card-body">
          <form #formBackup="ngForm" (ngSubmit)="onSubmitBackup(formBackup)">
            <div class="form-group">
              <div class="input-group">
                <p>Ingrese las credenciales de la base de datos para generar respaldo.</p>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <input type="text" [(ngModel)]="db.username" #username="ngModel" name="username" class="form-control" placeholder="Usuario"
                  required>
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
              </div>
              <div *ngIf="username.invalid && (username.dirty || username.touched)" class="" style="color: #990000; padding: 0; margin: 0;">
                <div *ngIf="username.errors.required"> Ingrese un usuario válido. </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <input type="password" [(ngModel)]="db.password" #password="ngModel" name="password" class="form-control" placeholder="Password"
                  required>
                <span class="input-group-addon"><i class="fa fa-asterisk"></i></span>
              </div>
              <div *ngIf="password.invalid && (password.dirty || password.touched)" class="" style="color: #990000; padding: 0; margin: 0;">
                <div *ngIf="password.errors.required"> Ingrese un password, por favor. </div>
              </div>
            </div>
            <div class="form-group form-actions">
              <button type="submit" class="btn btn-sm btn-primary">Generar respaldo</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-12" *ngIf="loading.errors">
      <div class="alert alert-danger" role="alert">
        <p>Hubo un error en el servidor al tratar de crear el respaldo. Por favor, comprueba tus credenciales e intentalo de nuevo.</p>
      </div>
    </div>

    <div class="col-md-12" *ngIf="loading.success">
      <div class="alert alert-info" role="alert">
        <p>Éxito al crear respaldo de la base de datos.</p>
      </div>
    </div>

    <div class="col-md-12" style="padding-bottom: 20px" *ngIf="loading.waitingServer">
      <div class="text-center">
        <i class="fa fa-spinner fa-lg mt-4 fa-spin fa-4x"></i>
        <br><br>Esperando respuesta del servidor...
      </div>
    </div>

  </div>


</div>