<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
             <button type="button" class="close" (click)="close()" >&times;</button>
             <h4 class="modal-title">Confirmación de productos</h4>
        </div>
        <div class="modal-body">
            <table class="table table-bordered table-striped table-sm">
                <thead>
                    <tr>
                    <th>Descripción</th>
                    <th>Marca</th>
                    <th>Precio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td>{{ description }}</td>
                    <td> {{ brand }} </td>
                    <td> {{ buy_price}} </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="numberOfProducts">Cantidad de productos</label>
                        <input class="form-control" type="number" name="numberOfProducts" [(ngModel)]="numberOfProducts" min="1">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="total">Total</label>                            
                        <input class="form-control" name="total" value="{{numberOfProducts * buy_price}}" min="0" disabled>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-primary" (click)="confirm()"><i class="fa fa-check"></i> OK</button>
            <button type="button" class="btn btn-outline-danger" (click)="close()" >Cancel</button>
        </div>
    </div>
</div>