<div class="animated fadeIn">
  <h1 class="display-3 text-center">Ventas semanales</h1>
  <div class="line__bottom-container mb-3">
    <span class="line__bottom"></span>
  </div>
  <div class="chart-wrapper" style="height:300px;margin-top:40px;">
    <canvas baseChart class="chart"
    [datasets]="mainChartData"
    [labels]="mainChartLabels"
    [options]="mainChartOptions"
    [colors]="mainChartColours"
    [legend]="mainChartLegend"
    [chartType]="mainChartType"
    (chartHover)="chartHovered($event)"
    (chartClick)="chartClicked($event)"></canvas>
  </div>
</div>


